*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    display: flex;
    flex-direction: column;
   margin: 2rem;
    gap: 20px;
}
.clickme{
    display: inline-block;
    width: fit-content;
   
  padding: 10px 20px; /* Adds space around content */
  font-size: 16px;
}
.popup-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    gap: 1rem;
    padding:50px 50px;
    opacity: 0;
   background-color: antiquewhite;
   border: 1px solid black;
   border-radius: 15px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
   justify-content: center;
   align-self: center;
}
#btns{
  
   
    display: flex;
    flex-direction: row;
    gap: 1rem;
   
}
#poptext{
    width: 60%;
    height: 15%;
    padding: 15px;
    font-size: 16px;

}
.hidden{
    display: none;
}